{% extends "main/layout.html" %}

{% load static %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}

<div class="features">
    <h1 class="word-title">
        Словарь
    </h1>
    {% if words %}
        {% for word in words %}
            <div class="register-word-container">
                <div class="word-fields">
                    <div class="word-field">
                        Слово: {{ word.word }}
                    </div>
                    <div class="word-field">
                        Перевод: {{ word.translate }}
                    </div>
                </div>
                <div class="word-buttons">
                    <a href="{% url 'word_detail' word.id %}" class="button button-viewing">Просмотр</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h1 class="word-title">
            Нет слов в словаре...
        </h1>
    {% endif %}
</div>
{% endblock content %}