{% extends "main/layout.html" %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}

<div class="features">
    <div class="register-user-container">
        <h1 class="user-title">{{ title }}</h1>

        <form method="post" enctype="multipart/form-data">
            
            <div class="user-fields">
                {% csrf_token %}

                <div class="form-error">{{ form.non_field_errors }}</div>

                {% for u_f in user_form %}
                    <div class="user-field">{{ u_f }}</div>
                    <div class="form-error">{{ f.errors }}</div>
                {% endfor %}
                {% for f in form %}
                    <div class="user-field">{{ f }}</div>
                    <div class="form-error">{{ f.errors }}</div>
                {% endfor %}
            </div>
            <div class="user-buttons">
                <input type="submit" class="button button-sign-up" value="Сохранить">
            </div>
        </form>
        
    </div>
</div>
{% endblock content %}